BOT_NAME=Assistente Central Academica UTP
AUTH_CLIENT_ID=central-academica-utp-local
IGNORE_GROUPS=true
APP_API_URL=http://localhost:3333
REQUIRE_ACTIVATION=true
ACTIVATION_KEYWORD=utp
ALLOWED_NUMBERS=
BROWSER_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
BROWSER_HEADLESS=false
WHATSAPP_WEB_VERSION=2.3000.1039338618-alpha
USE_INTERACTIVE_MESSAGES=false
